<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        span{
            color: blue;
        }
        #item-body{
            border: 1px blue solid;
            width: fit-content;
            padding: 8px 16px;
            border-radius: 10px;
            margin: 20px auto;
            width: 30%;
            
        }
    </style>
    <title>Item Information</title>
</head>
<body>
    <%- include("../partials/navbar")%>
    <div id="item-body">
   <h3><%=data.name%></h3>
   <h3>Description:</h3>
        <p><%=data.description%></p>
   <h3>Color: <span><%=data.color%></span></h3>
   <h3>Size: <span><%=data.size%></span></h3>
   <h3>Material: <span><%=data.material%></span></h3>
   <h3>Price: <span><%=data.price%></span></h3>
   <img src="<%=data.image%>" alt="">

    </div>
  
</body>
</html>
